@import './messages.css';
@import './ui.css';

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 90%;
  min-height: 90vh;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #ffffff;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.05);
}

.dataInputItem {
  margin: 0 auto;
  width: 100%;
}

fieldset {
  border: 1px dotted #ccc;
  width: 100%;
  border-radius: 10px;
}

legend {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem;
  border-radius: 20px;
}

input,
textarea {
  margin: 0.6rem;
  background: #eee;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px inset rgba(0, 0, 0, 0.09);
}
