form {
  width: 100%;
}

label {
  color: #aaa;
}

.buttonBar {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.row1,
.row2 {
  display: flex;
}

.row1 {
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin-bottom: 1rem;
}

.row2 {
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.addGlobalOffset {
  width: 10rem;
}

.normalButtons,
.cautionButtons {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

select {
  background-color: #eee;
  text-align: center;
  border-style: none;
  border: none;
}

select,
option {
  color: #666;
  padding: 5px;
}

button {
  width: 10rem;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
  color: aliceblue;
  font-weight: 700;
}

button:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

button:active {
  box-shadow: 2px 2px 2px inset rgba(0, 0, 0, 0.6);
}

.action {
  background-color: rgb(1, 115, 177);
}

.operation {
  background-color: rgb(1, 177, 89);
}

.caution {
  background-color: hsl(31, 100%, 47%);
}

.danger {
  background-color: rgb(226, 38, 25);
}

.add {
  color: rgb(0, 153, 255);
  border: 1px solid rgb(0, 153, 255);
  background-color: rgba(0, 153, 255, 0.2);
}

.delete {
  background-color: firebrick;
}

input[type='number'] {
  padding: 2px;
  text-align: center;
  font-family: monospace;
  font-size: 0.7rem;
  color: #eee;
  background-color: rgb(108, 110, 111);
  width: 5rem;
}

input[type='number']::placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
}

input[type='text'],
textarea {
  font-family: monospace;
  width: 80%;
  padding: 7px;
  border: 1px solid #ddd;
}

input::placeholder {
  color: hsl(0, 0%, 77%);
}

input,
textarea {
  margin: 0.6rem;
  background: #eee;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px inset rgba(0, 0, 0, 0.09);
}

.hidden {
  display: none;
}

label {
  margin: 0 1rem;
}
