form {
  width: 100%;
}

label {
  color: #aaa;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.normalButtons,
.cautionButtons {
  display: flex;
  align-items: center;
  width: 48%;
  /* border: 1px solid red; */
}

span.normalButtons {
  justify-content: space-around;
  margin: auto;
}

span.cautionButtons {
  justify-content: center;
}

#clear {
  align-self: flex-end;
}

select {
  background-color: #eee;
  text-align: center;
  border-style: none;
  border: none;
}

select,
option {
  color: #666;
  padding: 5px;
}

button {
  padding: 0.3rem 1rem;
  margin: 0.3rem;
  color: aliceblue;
  font-weight: 700;
}

button:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

button:active {
  box-shadow: 2px 2px 2px inset rgba(0, 0, 0, 0.6);
}

.action {
  background-color: rgb(1, 115, 177);
}

.operation {
  background-color: rgb(1, 177, 89);
}

.caution {
  background-color: rgb(226, 220, 25);
}

.danger {
  margin-left: 10rem;
  background-color: rgb(226, 38, 25);
}

.add {
  color: rgb(0, 153, 255);
  border: 1px solid rgb(0, 153, 255);
  background-color: rgba(0, 153, 255, 0.2);
}

.delete {
  background-color: firebrick;
}

input[type='text'],
textarea {
  font-family: monospace;
  width: 90%;
  padding: 7px;
  border: 1px solid #ddd;
}

input::placeholder {
  color: hsl(0, 0%, 77%);
}

.hidden {
  display: none;
}
